#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ttt-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
}

.ttt-sq {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ttt-sq-letter {
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}
